@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Su password ha sido reseteado. Por favor <a asp-page="./Login">presione aquí para entrar al sistema.</a>.
</p>
